/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #FF5722;
}
.bg-color--subcolor {
  background-color: #FF9800;
}
.bg-color--gray {
  background-color: #626262;
}
